<div class="row">
  <div class="col-md-2 col-md-offset-5">

  </div>
</div>

<div class="jumbotron vertical-center">
  <div class="container">
    <p class="text-center">
      <a href="/auth/twitter" class=" new-account sign-in-with-fb">
        Sign in with
        <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
      </a>
    </p>
  </div>
</div>
